@page "/recipe/{id}"
@page "/recipe"

@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Components.Forms
@inject DataContext dataContext
@inject UserManager<AppUser> userManager
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject ISnackbar snackBar
@inject IWebHostEnvironment env
@inject ILogger<LayoutComponent> Logger


@if (Recipe != null) {
    <MudGrid>
        <MudItem><MudImage Src="@Recipe.ImagePath" Height="200" /></MudItem>
        @if(CanEdit && Editing) {
            <MudItem>
                <MudFileUpload T="IBrowserFile" 
                    FilesChanged="OnImageUpload"
                    Accept="image/jpeg,image/png,image/gif,image/bmp">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                           Color="Color.Info"
                           StartIcon="@Icons.Material.Filled.UploadFile"
                           Size="Size.Large"
                           for="@context" />
                    </ButtonTemplate>
                </MudFileUpload>
            </MudItem>
        }        
    </MudGrid>
    
    
    <div class="view-recipe-container m-2">
        <MudGrid>
            <MudItem>
                <h3 style="margin-top: 0.5rem; margin-bottom: 0;">@Recipe.Name</h3>
            </MudItem>
            <MudItem>
                <MudToggleIconButton Icon="@Icons.Material.Filled.Favorite"
                    ToggledIcon="@Icons.Material.Filled.Favorite" ToggledColor="Color.Secondary"
                    Toggled="@Liked"
                    ToggledChanged='async (bool toggled) => {
                        if (User != null) {
                            RecipeLike rl = new RecipeLike {
                                AppUserId = UserId!, RecipeId = Recipe.RecipeId
                            };
                            if (toggled) {
                                await dataContext.AddAsync(rl);
                            } else {
                                // Retrieve the existing RecipeLike object from the database
                                var existingRl = await dataContext.FindAsync<RecipeLike>(UserId!, Recipe.RecipeId);
                                if (existingRl != null) {
                                    dataContext.Remove(existingRl);
                                }
                            }
                        }
                        Liked = toggled;
                        if (UserId != Recipe.UserId) {
                            await SaveRecipe(false);
                            Console.WriteLine($"Recipe is Liked:{Liked} ");
                        }
                }' />
            </MudItem>
            <MudItem Class="d-flex align-center flex-grow-1 gap-0">
                @foreach (RecipeTag recipeTag in Recipe.RecipeTags) {
                    <MudChip Size="Size.Small">
                        <MudText>@recipeTag.Tag.Name</MudText>
                        @if (CanEdit && Editing) {
                            <MudIconButton Icon="@Icons.Material.Outlined.Cancel" 
                                Color="Color.Default" Size="Size.Small"
                                OnClick="@(() => HandleChipClose(recipeTag))" />
                        }
                    </MudChip>
                }
            </MudItem>
            @if (CanEdit && Editing && Recipe.RecipeTags.Count < maxTags) {
                <MudItem Class="d-flex align-center flex-grow-1 gap-4">
                    <MudButton Size="Size.Small" Variant="Variant.Outlined"
                       @onclick="() => { NewTagOpen = true; }"
                    >+New Tag</MudButton>
                </MudItem>
            }

        </MudGrid>
        <MudPopover Open="@NewTagOpen" Fixed="false" Class="px-4 pt4">
            <div class="d-flex flex-column">
                <MudAutocomplete 
                    T="string" Label="Enter Tag" @bind-Value="NewTagName"
                    CoerceText="false" CoerceValue="false" ResetValueOnEmptyText="true"
                    SearchFunc="TagSearch"
                    />
                @*<MudTextField @bind-Value="NewTagName" Lines="1" />*@
                <MudIconButton Icon="@Icons.Material.Filled.Save" OnClick="@AddTag"/>
            </div>
        </MudPopover>
        
        <div class="recipe-halves">
            <CascadingValue Value="@User" Name="UserParam">
                <CascadingValue Value="@Recipe" Name="RecipeParam">   
                    <CascadingValue Value="@CanEdit" Name="CanEditParam">
                        <CascadingValue Value="@Editing" Name="EditingParam" >
                            <LeftComponent Id="Id" OnEditUpdate="@UpdateEditState"/>
                            <RightComponent />
                        </CascadingValue>                        
                    </CascadingValue>                                                   
                </CascadingValue>               
            </CascadingValue>
                   
        </div>       
    </div>
} else {
    <p>Recipe not found.</p>
}

@code {
    [Parameter]
    public string? Id { get; set; }
    public AppUser? User { get; set; }
    private Recipe? Recipe;

    public bool Liked { get; set; }
    private bool CanEdit { get; set; } = false;
    private bool Editing { get; set; } = false;
    private bool NewTagOpen { get; set; } = false;
    private string NewTagName { get; set; } = string.Empty;
    private string? UserId { get; set; }
    private int maxTags = 5;
    //private List<string> tags { get; set; } = new();

}