git add .@page "/browse/{terms}"
@page "/browse"
@using RecipeAZ.Pages.RecipeComponents
@using Microsoft.AspNetCore.WebUtilities
@inject IDbContextFactory<DataContext> _contextFactory
@inject NavigationManager _navigationManager
@inject RecipeAZ.Services.RecipeService _recipeService
@inject NavigationManager _navigationManager

<div style="background-color:white;padding:16px;border-radius:10px;">
    <MudText Typo="Typo.h6">Search Results</MudText>
    <MudGrid Spacing="0" Class="orange-lines">
        <MudItem>
            <MudTextField @bind-Value="_searchText" Label="Filter by search term" Variant="Variant.Outlined" 
                TextChanged="UpdateRecipes"></MudTextField>
        </MudItem>
        <MudItem Class="vcenter">
            <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Large"
                OnClick="UpdateRecipes" />
        </MudItem>
    </MudGrid>

    <MudGrid>
        <MudItem xs="12">
            <MudGrid>
                <MudItem>
                    <MudAutocomplete T="string" Label="Filter by tag" Immediate="true"
                        Value="TagFilterSearchText" SearchFunc="TagAutoCompleteSearch" TextChanged="UpdateTagSearchText" />
                </MudItem>
                <MudItem Class="d-flex align-center pl-0">
                    <MudIconButton Icon="@Icons.Material.Filled.Add"
                        OnClick="AddTagFilter" />
                    @foreach (Tag? tag in _tagsFilter) {
                        <TagChip Tag="@tag" Removable="true" Clickable="false" HandleChipClose="@HandleTagFilterClose"/>                        
                    }
                </MudItem>
            </MudGrid>

        </MudItem>
        <MudItem xs="12">
            <MudGrid>
                <MudItem>
                    <MudAutocomplete T="string" Label="Filter by ingredient"
                        Value="IngredientFilterSearchText" SearchFunc="IngredientAutoCompleteSearch" TextChanged="UpdateIngredientSearchText" />
                </MudItem>
                <MudItem Class="d-flex align-center pl-0">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="AddIngredientFilter" />
                    @foreach (Ingredient i in _ingredientsFilter) {                        
                        <MudChip Variant="Variant.Outlined" Size="Size.Small">
                            <MudText>
                                @if (i != null) {
                                    @i.Name
                                }                                
                            </MudText>
                            <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Default" Size="Size.Small"
                                @onclick="() => HandleIngredientFilterClose(i)" />
                        </MudChip>
                    }
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
    <p />
    <MudGrid Spacing="0">
        <MudItem>
            <MudIconButton Icon="@CurrentIcon" OnClick="ChangeOrderIcon" />
        </MudItem>
        <MudItem>
            <MudToggleIconButton Icon="@Icons.Material.Filled.ArrowUpward" ToggledIcon="@Icons.Material.Filled.ArrowDownward"
                ToggledChanged="async () => {
                    ResultsAscending = !ResultsAscending;
                    _recipes = await SearchResults();
                    StateHasChanged();
                }" />
        </MudItem>
    </MudGrid>

    <MudTable Items="@_recipes" Dense="true" RowsPerPage="@_rowsPerPage" Elevation="0">
        <RowTemplate>
            <MudTd>
                <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Success" />
                @context?.UsersWhoLikeMe?.Count
            </MudTd>
            <MudTd @onclick="() => NavigateToRecipe(context.RecipeId)" Class="clickable">@context.Name</MudTd>
            <MudTd @onclick="() => NavigateToUser(context.UserId)" Class="clickable">by @context.User.UserName on @context.CreatedAt.ToShortDateString()</MudTd>
            <MudTd><div class="browse-text-limit-width"><RecipeAZ.Pages.RecipeComponents.TextLinkMixComponent Text="@context.Description" UseLinks="false" /> </div></MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>

@code {

    [Parameter]
    public string Terms { get; set; } = string.Empty;
  
    public string TagFilterSearchText { get; set; } = string.Empty;
    public string IngredientFilterSearchText { get; set; } = string.Empty;
    public bool ResultsAscending { get; set; } = true;

    private string _searchText = string.Empty;
    private string[] _orderIconOptions = { Icons.Material.Filled.SortByAlpha, Icons.Material.Filled.CalendarMonth, Icons.Material.Filled.Favorite };
    private int _orderIconIndex = 0;
    private string CurrentIcon => _orderIconOptions[_orderIconIndex % _orderIconOptions.Length];
    private List<Recipe>? _recipes = new();
    private int _rowsPerPage = 15;
    
    private List<Tag> _tagsFilter = new();
    private List<Ingredient> _ingredientsFilter = new();
    
    
}
