@page "/profile/{id}"

@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity;
@using RecipeAZ.Pages.RecipeComponents
@inject AuthenticationStateProvider authenticationStateProvider
@inject IDbContextFactory<DataContext> _contextFactory
@inject NavigationManager navigationManager
@inject UserManager<AppUser> userManager

<div style="background-color:white;padding:16px;border-radius:10px;">
    <h3>Recipes by @ProfileUser?.UserName</h3>
    <MudButton @onclick="@(() => Sort("like", false))">Likes(Ascending)</MudButton>
    <MudButton @onclick="@(() => Sort("like", true))">Likes(Descending)</MudButton>
    <MudButton @onclick="@(() => Sort("date", false))">Date(Ascending)</MudButton>
    <MudButton @onclick="@(() => Sort("date", true))">Date(Descending)</MudButton>


    <MudList>
        @foreach (Recipe recipe in Recipes) {
            <MudListItem>
                <MudGrid>
                    <MudItem xs="3">    
                        <div class="clickable" @onclick="@(() => NavigateToRecipe(recipe.RecipeId))">
                            <MudImage Src="@recipe.ImagePath" Height="50" />
                        </div>
                           
                        <h5 class="clickable" @onclick="@(() => NavigateToRecipe(recipe.RecipeId))">@recipe.Name</h5>
                        <div>@recipe.CreatedAt</div>
                        @foreach (RecipeTag recipeTag in recipe.RecipeTags) {
                            <TagChip Tag="@recipeTag.Tag" Color="Color.Success" />                            
                        }

                        <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Error" />

                        @recipe.UsersWhoLikeMe.Count
                    </MudItem>
                    <MudItem xs="9">
                        <div class="userpage-text-truncate-height">
                            <TextLinkMixComponent Text="@recipe.Description" />
                        </div>
                    </MudItem>
                </MudGrid>
            </MudListItem>
        }
    </MudList>
</div>


@code {
    
    
    [Parameter]
    public string? Id { get; set; }
    private AppUser? ProfileUser { get; set; }

    private List<Recipe>? Recipes { get; set; } = new();
    

    


}
